* {
    box-sizing: border-box;
}
body {
   width: 100%;
   height: 100%;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.filters {
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    padding: 1em 2em 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
 }

 .filter {
    width: max-content;
    height: max-content;
    padding: 0.5em 0;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
 }
 .filter p{
    position: relative;
    bottom: 10px;
    padding: 0 0.5em;
    font-size: 18px;
    font-weight: 500;
 }
 .filter.active p{
    bottom: 24px;
 }
 .filter h1 span{
    position: relative;
    text-transform: uppercase;
    font-size: 42px;
    color: #000;
    line-height: 80%;
    transition: color 0.3s;
 }
 .filter.active h1 span{
    color: var(--call2Action);
 }
 .items{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    padding: 1em ;
    display: flex;
 }
 .items-col{
    flex: 1;
    height: max-content;
    padding: 2em 1em;
 }
 .items-col:nth-child(2) {
    position: relative;
    top: 10em;
 }
 .item{
    padding: 1em 0em 0em 1em;
    margin: 2em 0em 0em 1em;
    height: 400px;

 }
 .item-img {
    width: 100%;
    height: 300px;
    padding: 1em 1em 1em 1em;

 }
 .item-copy p{
    font-size: 15px;
    font-weight: 500;
    margin: 0.5em 0;
 }
 
