:root{
    --primary_colour:#0A1A4D;
    --secondary_colour:#DCEFFA;
    --call2Action:#DDA911;
    --accentcolour:#707070;
    --touchupcolour:#D8D8D8;
    --whiteout:#fff;
    --black:#161616f6;
    --bg: #e5e3dc;
    --link-color: #e2e2dc;
    --overlay-bg: #0a0a0a;
    --obsidianblack: #0b1215;
  
}
@font-face {
  font-family: newMontreal;
  src: url(/fonts/PPNeueMontreal-Medium.otf);
}
@font-face {
  font-family: typewriter;
  src: url(/fonts/Fragmentcore.otf);
}
@font-face {
  font-family: basis;
  src: url(/fonts/BasisGrotesquePro-Light.ttf);
}

html,body{
  width: 100%;
  overscroll-behavior: none;
  min-height: 100%;
  font-family: 'Poppins', sans-serif;
  cursor: none;
}
@media only screen and (max-width: 900px) {
    body{
      overflow-x: hidden;
    }
  }
  
body p{
    /*font-family: Montserrat;*/
    font-size: 12px;
    font-weight: lighter;
}
body h1{
    /*font-family: Century Schoolbook;*/
    font-size: 18px;
    font-weight: lighter;

}
body h2,h3{
    /*font-family: Biliner Meclan Demo;*/
    font-size: 15px;
    font-weight: 500;

}
  
  *{
  padding: 0;
  box-sizing: border-box;
  
  }
  body{
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  
  }
  video{
    width: 100vw;
    height: auto;
  }
  img{
    max-width: 100%;
    height: auto;
    width: 100%;
    object-fit: cover;
  }

  html.lenis{
    height: auto;
  }
  .lenis.lenis-smooth{
    scroll-behavior: auto;
  }

  .lenis.lenis-smooth [data-lenis-prevent]{
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped{
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe{
    pointer-events: none;
  }
html, body{
  height: 100%;
  width: 100%;
}

button,
a {
  cursor: none;
}

.cursor{
  position: fixed;
  background: #ffffff;
  left: 0;
  z-index: 9999;
  top: 0;
  width: 14px;
  height: 14px;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: transform .01s ease-in-out;
}

.cursor.grow {
  width: 50px;
  height: 50px;
  transition:all 5ms ease-in-out;
}


nav {
  position: fixed;
  z-index: 99999;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .1em 2em;
  background-color: transparent;
}
nav > div {
  flex: 1;
}
.nav-bg {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;

z-index: -1;
}

.mwakie-logo{
  display: flex;
  width: 3vw;
  height: 11vh;
  
}
.mwakie-logo img {
  height: 100%;
  width: 190px;
  cursor: none;
  box-shadow: none;
}
.toggle-btn {
  display: flex;
}
.booker {
  position: absolute;
  right: 1em;
  padding-top: .5rem;
}
.book-shoot{
  text-transform: uppercase;
  padding: .6em 2em .6em 2em;
  background: inherit;
  border: 1px solid var(--overlay-bg);
  border-radius: 1%;
  cursor: none;
}
.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.7em 2em 1.5em 2em;
  outline: none;
  border: none;
  width: 28px;
  height: 20px;
  transition: all 350ms ease-out;
  cursor: none;
  background: transparent;
  z-index: 999;
}
.burger::before,
.burger::after {
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  background: var(--call2Action);
  transition: all 350ms ease-out;
  will-change: transform;
  z-index: 99;
}
.burger::before {
  transform: translateY(-3px);
}
.burger::after {
  transform: translateY(3px);
}
.active.burger::before {
  transform: translateY(0) rotate(45deg);
  width: 50px;
  height: 4px;
}
.active.burger::after {
  transform: translateY(0) rotate(-45deg);
  width: 50px;
  height: 4px;
}
.overlay {
  position: absolute;
  right: 1em;
  padding-top: .5rem;
}
.book-shoot{
  text-transform: uppercase;
  padding: .6em 2em .6em 2em;
  background: inherit;
  border: 1px solid var(--overlay-bg);
  border-radius: 5%;
}
.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.7em 2em 1.5em 2em;
  outline: none;
  border: none;
  width: 28px;
  height: 20px;
  transition: all 350ms ease-out;

  background: transparent;
}
.burger::before,
.burger::after {
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  background: var(--call2Action);
  transition: all 350ms ease-out;
  will-change: transform;
  z-index: 99;
}
.burger::before {
  transform: translateY(-3px);
}
.burger::after {
  transform: translateY(3px);
}
.active.burger::before {
  transform: translateY(0) rotate(45deg);
  width: 50px;
  height: 4px;
}
.active.burger::after {
  transform: translateY(0) rotate(-45deg);
  width: 50px;
  height: 4px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: var(--obsidianblack);
  clip-path: polygon(0 0, 100% 0, 100% 0,0 0);
  z-index: 3;
  overflow: hidden;

}
.overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    gap: .5em;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    z-index: 2;
}


.menu {
  position: relative;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  mix-blend-mode: difference;
  z-index: 5;
  overflow: hidden;
}
.menu > div {
  height: 100%;
  display: flex;
}
.menu a {
  position: relative;
  top: 20px;
  line-height: 70%;
  text-decoration: none;
  color: var(--call2Action);
  transition: letter-spacing 0.4s ease-in;
  transition: color 0.5s ease-in-out;
}
.menu a:hover {
  letter-spacing: 0.085rem;
  color: #f7e094;
}
.menu a span {
  font-size: 20px;
  margin-right: 2em;
}
.menu-item {
  position: relative;
}
.menu-item::after {
  content: "";
  position: absolute;
  top: 100px;
  left: -20px;
  width: 120%;
  height: 200%;
 /* background: var(--overlay-bg);*/
 

  margin: 0 auto;
}
.menu-container {
   width: 60%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.primary-menu {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.primary-menu .menu-container .wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.primary-menu a {
  text-transform: uppercase;
  font-size: 120px;
  font-weight: 500;
  padding-left: .1em;
}
.secondary-menu {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8em;
}
.secondary-menu .menu-item a {
  font-size: 30px;
}
.secondary-menu .menu-container .wrapper:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.secondary-menu .menu-container .wrapper .menu-item:nth-child(1) ,
.secondary-menu .menu-container .wrapper .menu-item:nth-child(3)  {
  margin-left: 4em;
} 
.secondary-menu .menu-container .wrapper .menu-item:nth-child(2) {
  margin-right: 3em;
}